$primary-color: #07a7fd;
$primary-color-2: #068ee4;

$gray-color-1: #f0f0f1;
$gray-color-2: #dedede;
$gray-color-3: #bbbdc0;

$text-color: #1e252f;
$inline-code-color-base: #0352c2;
$inline-code-bg-color-base: $gray-color-1;

$primary-gradient-start-color: #001191;
$primary-gradient-stop-color: #06a3ff;

$secondary-gradient-start-color: #4eb9fb;
$secondary-gradient-stop-color: #2683f5;

$font-size-base: 16px;
$font-size-xxs: 11px;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-lg: 20px;

$font-size-h1: 35px;
$font-size-h2: 28px;

$box-shadow-sm: 0 2px 34px 0 rgba(0, 0, 0, 0.1);
