.subpage {
  .subpage-top-spacing.main.subpage__main {
    padding-top: 120px;
  }

  .subpage__header {
    background: $primary-gradient-start-color;
    background: -webkit-linear-gradient(-45deg, $primary-gradient-start-color, $primary-gradient-stop-color);
    background: linear-gradient(135deg, $primary-gradient-start-color, $primary-gradient-stop-color);
    position: relative;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 70px;
    z-index: 1;

    .subpage__hero {
      position: relative;
      z-index: 1;
      text-align: center;

      h1 {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .subtitle {
        color: #fff;
        font-size: 22px;
      }
    }

    .header {
      z-index: 20;
      position: relative;
    }

    .overflow-hide {
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-width: 100vw;
      position: relative;
    }

    .header-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      max-width: 100vw;

      .header-shapes-left {
        z-index: 0;
        position: absolute;
        top: 50%;
        margin-top: -63px;
        width: 400px;
        margin-left: 0;
        left: 0;
        transition: all 0.2s ease;

        @media all and (max-width: 410px) {
          max-width: 400px;
          width: 90%;
        }
      }

      .header-shapes-right {
        z-index: 0;
        position: absolute;
        right: 10%;
        width: 230px;
        bottom: -50px;
        transition: all 0.5s ease;
      }
    }
  }

  .main {
    padding-top: 15px;
    padding-bottom: 60px;

    &.subpage__main {
      padding: 30px 15px 120px;
      max-width: 800px;
      margin: auto;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 50px;
    }

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 29px;
    }

    h4 {
      font-size: 23px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 13px;
    }

    ul {
      margin-top: 15px;

      li p {
        margin-bottom: 0px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .header-shapes-right {
    display: none;
  }
}
