package {{ .PackageName }}

import (
	"context"

	"github.com/stretchr/testify/mock"
)

// Mock{{ .ApplicationObject }} is a mock of the application
type Mock{{ .ApplicationObject }} struct {
	mock.Mock
}

// NewMock{{ .ApplicationObject }} return a mock of the application
func NewMock{{ .ApplicationObject }}() *Mock{{ .ApplicationObject }} {
	return &Mock{{ .ApplicationObject }}{}
}

// Run provides a mock function to carry out the application tasks
func (m *Mock{{ .ApplicationObject }}) Run(ctx context.Context, optionsFunc ...OptionsFunc) error {
	args := m.Called(ctx, optionsFunc)
	return args.Error(0)
}
