package {{ .PackageName }}

import (
	"context"

	"{{ .ApplicationPackageURL }}"
)

// Applicationer is the service for build commands
type Applicationer interface {
	Run(ctx context.Context, optionsFunc ...credentials.OptionsFunc) error
}
