package {{ .PackageName }}

import (
	"context"

	application "{{ .ApplicationPackageURL }}"
)

// Applicationer is the service for {{ .FileNameBase }} commands
type Applicationer interface {
	Run(ctx context.Context, optionsFunc ...application.OptionsFunc) error
}
